<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cctread.dao.CctChapterMapper">
    <resultMap type="com.example.cctread.domain.CctChapter" id="chapterList">
        <result column="chapter_id" property="chapterId"/>
        <result column="novel_id"  property="novelId"/>
        <result column="chapter_name" property="chapterName"/>
        <result column="synopsis" property="synopsis"/>
        <result column="update_date" property="updateDate"/>
        <result column="start_row" property="startRow"/>
        <result column="end_row" property="endRow"/>
    </resultMap>

    <insert id="saveChapter">
       INSERT INTO cct_chapter (novel_id, chapter_name, synopsis, update_date,start_row,end_row,chapter_path) VALUES
        <foreach collection ="list" item="CctChapter" index="index" separator =",">
            (#{CctChapter.novelId},#{CctChapter.chapterName},#{CctChapter.synopsis},#{CctChapter.updateDate},#{CctChapter.startRow},#{CctChapter.endRow},#{CctChapter.chapterPath})
        </foreach >
    </insert>
</mapper>