<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        >
<mapper namespace="com.example.cctread.dao.CctNovelMapper">
    <resultMap type="com.example.cctread.domain.CctNovel" id="novelList">
        <result column="novel_id" property="novelId"/>
        <result column="novel_title"  property="novelTitle"/>
        <result column="novel_type"  property="novelType"/>
        <result column="author" property="author"/>
        <result column="novel_state" property="novelState"/>
        <result column="start_date" property="startDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="novel_cover" property="novelCover" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
        <result column="ischarge" property="isCharge"/>
        <result column="book_like" property="bookLike"/>
        <result column="intro" property="intro"/>
    </resultMap>

    <insert id="saveNovel"  parameterType="com.example.cctread.domain.CctNovel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cct_novel (novel_title, novel_type, author, novel_state, start_date, update_date, novel_cover, ischarge, book_like, intro)
        VALUES (#{novelTitle},#{novelType},#{author},#{novelState},#{startDate},#{updateDate},#{novelCover,},#{isCharge},#{bookLike},#{intro});
    </insert>
</mapper>