#home-container {

}
#home-container .container {
     /*width: 100%;*/
     /*padding: 0px;*/
     /*margin: 0px;*/
 }

.index-logo {
    height: 100%;
    margin-left: 10px;
}

#home-container .navbar-nav li a:hover{
    color: #e693a2;
}
#home-container .navbar-nav li a:focus {
    color: #e693a2;
}
#home-container .navbar-nav li span:hover {
    color: #e693a2;
}
#home-container .search-container {
    margin-top: 50px;
}
#home-container .search-container .input-group {
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
}
#home-container .search-container .input-group .btn-default {
    padding: 0px;
    line-height: 0px;
    background-color : #eee;
    border-color: #eee;
}
#home-container .search-container .author-button {
    float: right;
    margin-top: 15px;
    color: #fff;
    background: #c7d8d7;
    border-color: #84aebb;
}
#home-container .search-container .author-button:hover {
    color: #84aebb;
}
#home-container .search-container .author-button:focus {
    outline: none;
    outline-offset: 0px;
}
#home-container .book-style-contaoner ul li a{
    color: #000;
    font-size: 16px;
}
#home-container .book-style-contaoner ul li a:hover {
    background-color: #fff;
    color: #84aebb
}
#home-container .img-container #myCarousel {
    width: 65%;
    float:left;
}
#home-container .img-container img{
    width:100%;
    height: 400px;
    padding: 0;
}
#home-container .title-container {
    width:32%;
    float: right;
}
#home-container .title-container img {
    height: 200px;
}
#home-container .title-container ul {
    padding:0;
}
#home-container .title-container ul li {
    list-style: none;
    height: 30px;
    margin: 6px;
}
#home-container .recommend-container {
    margin-top: 20px;
}
#home-container .recommend-container .book-type-name {
    width:25%;
    float: left;
    padding-right: 1%;
}
#home-container .recommend-container .book-type-name .model-name {
    height: 25px;
    border-bottom: 1px #84aebb solid;
}
#home-container .recommend-container .book-type-name p{
    font-size: 16px;
    font-weight: bold;
    font-family: "Microsoft YaHei", 微软雅黑, SimSun, tahoma, arial;
}
#home-container .recommend-container .book-type-name ul {
    padding: 0;
}
#home-container .recommend-container .book-type-name ul li {
    list-style: none;
    height: 32px;
    padding-top: 8px;
}
#home-container .recommend-container .book-type-name ul li a {
    color: #000;
}
#home-container .recommend-container .book-type-name ul li a:hover {
    color: #84aebb;
    text-decoration: none;
}
#home-container .ad-container .index-logo {
    width: 100%;
    height: 100%;
    margin-left: 0px;
}
#home-container .recommend-container .rank-container {
    width: 25%;
    float: left;
    padding-right: 3%;
}
#home-container .recommend-container .rank-container .model-name {
    height: 25px;
    border-bottom: 1px #84aebb solid;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    font-family: "Microsoft YaHei", 微软雅黑, SimSun, tahoma, arial;
}
.ranking-list {
    height: 441px;
    padding-left: 0px;
}
.ranking-list .n1 {
    height: 112px;
    padding: 10px 0;
    line-height: 24px;
}
.ranking-list .n1 .book {
    float: right;
    width: 70px;
    height: 96px;
    overflow: hidden;
    box-shadow: 0 0 7px #999;
    margin-right: 5px;
}
.ranking-list li {
    width: 100%;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px dotted #dfdfdf;
}
.ranking-list li p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ranking-list li .piao {
    float: right;
    color: #999;
    width: 65px;
    text-align: right;
}
.ranking-list li .num {
    float: left;
    font-size: 13px;
    margin: 10px 12px 0 0;
    display: inline;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background: #cacaca;
}
.ranking-list .n2 .num {
    background-color: #ff815e;
}
.ranking-list .n3 .num {
    background-color: #ffa95e;
}
.ranking-list .n1 .detail {
    width: 70%;
    height: 96px;
    overflow: hidden;
    zoom: 1;
}
.ranking-list .n1 .num {
    float: none;
    display: inline-block;
    margin: 0 0 7px;
    font-size: 16px;
    font-weight: bold;
    background: #ff5e66;
    width: 46px;
    height: 20px;
    line-height: 20px;
}
.ranking-list .n1 .name {
    height: 22px;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 0px;
}
.ranking-list .n1 .piao {
    display: block;
    float: none;
    width: auto;
    text-align: left;
    color: #ff5e66;
    margin-bottom: 0px;
}
.ranking-list .n1 .piao em {
    font-size: 18px;
    font-style: normal;
}
.ranking-list .n1 .author {
    color: #666;
    height: 24px;
    overflow: hidden;
    zoom: 1;
}
.ranking-list .n1 .book img {
    display: block;
    width: 70px;
    height: 96px;
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -ms-transition: -ms-transform .3s ease-out;
    transition: transform .3s ease-out;
}
.ranking-list .n1 .book img:hover {
    transform: scale(1.1);
}
.ranking-list li p a:hover {
    color: #84aebb;
    text-decoration: none;
}

#myCarousel1 {
    width: 50%;
    padding-right: 3%;
    float: left;
}
#myCarousel1 img {
    width: 90px;
    height: 125px;
}
#myCarousel1 .carousel-control {
    background-image: none !important;
}
#myCarousel1 .carousel-control a {
    top: 55%;
    font-size: 18px;
}
#myCarousel1 .carousel-inner {
    width: 40%;
}
#myCarousel1 .carousel-inner item2 {
     left: 3%;
     top: 7px;
 }
#myCarousel1 .carousel-inner item2 img {
    width: 75px;
    height: 110px;
}
#myCarousel1 .description {
    position: absolute;
    top: 0;
    left: 40%;
    width: 55%;
}
#myCarousel1 .description .book-detail .h4 a {
    color:  #84aebb;
}
#myCarousel1 .description p {
    zoom: 1;
    line-height: 24px;
    height: 96px;
    margin-bottom: 16px;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
#myCarousel1 .btn-read {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    background-color: #84aebb;
}




